*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*height: 5.5rem;*/
  line-height: 3.5rem;
  background-color: #ccc;
}
#form-input{
 height: 328px;
}



.learn__read-block{
  width: 80%;
  padding-right: 185px;
}
.first-title{
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}
.course-btn{
  border: none; 
  outline: none;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  width: 100%;
}
.direction-img{
  width: 200px;
  height: 150px;
}
.freelance-reward__img{
  width: 20px;
  vertical-align: sub;
  margin-left: 4px;
}
.progress{
  padding: 0;
  width: 100%;
  margin: auto;
  height: 26px;
}
.learn__read-block{
  width: 80%;
  padding-right: 185px;
}
.learn__content-plan{
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  width: 300px;
  background: #343a40;
  /*height: 100vh;*/
  height: calc(100vh);
  margin-left: auto;
}
.learn__content-plan .progress{
  height: 15px;
  font-size: 16px;
}
.icon-small{
  width: 25px;
  height: 25px;
  padding: 3px;
}
.learn__content-plan .wide-progress{
  height: 5px;
  border-radius: 0px;
}
.module-title{
  line-height: 49px;
  margin: 18px 20px;
  font-size: 20px;
  color: white;
}
.module-sections{
  width: 100%;
  margin-bottom: 3px;
}
.module-sections:hover{
  background-color: #4a525a;
  transform: scale(1.05);
}
.lesson-block{
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
}
.lesson-block__btn{
  padding: 2px 12px;
  margin: 0px 2px;
}
.main-offset__section{
  margin-bottom: 150px;
}
.service-name{
  font-size: 60px;
}
.main-index__img{
  width: 500px;
  height: 474px;
}
.main-card{
  width: 200px;
}
.main-circle__img{
  background-color: #5e9987;
  width: 150px;
  padding: 18px;
  border-radius: 50%;
}
.section-title{
  text-align: center;
  font-size: 45px;
  margin-bottom: 30px;
}
.section-line{
  margin: auto;
  max-width: 600px;
  margin-bottom: 30px;
}
.skill-card__circle{
  width: 50px;
  height: 50px;
  background: #5e9987;
  padding: 10px;
  border-radius: 50%;
  color: white;
  line-height: 29px;
}
.portfolio__img{
  width: 80px;
  height: 80px;
  background: #5e9987;
}
.main-project-description{
  width: 100px;
}
.main-diagramm
{
  width: 400px;
  height: 350px;
}
.main-hor__line{
  border: 2px solid #5e9987;
  width: 20%;
  height: 0px;
  position: relative;
  top: 75px;
  border-radius: 3px;
}
.avatar-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.course-row{
  display: flex;
}
.btn-case{
  width: 100%;
  padding: 30px;
  font-size: 50px;
  border: 1px solid #bfbfbf;
}
.btn-case{
  padding: 0px;
}
.learn-img{
  height: 200px;
}
.learn-info{
  margin-left: 20px;
}
.learn-card__title{
  margin-top: 53px;
  text-align: left;
  font-size: 32px;
}
.learn-card__text{
  font-size: 16px;
  text-align: left;
  margin-bottom: 26px;
}
.direction-param{
  font-size: 15px;
  display: flex;
  padding: 5px;
}
.mx-2{
  width: 20px;
}
.lesson-title{
  margin: 0;
  font-size: 16px;
  text-align: start;
  padding: 5px;
  color: white;
}
.section-title{
  width: 80%;
  padding-right: 185px;
}
.lesson-content{
  display:flex ;
  padding: 10px;
}
.learning-testblock{
  display: grid;
  text-align: left;
}
.learning-test{
  width: 80%;
  margin: auto;
}
.second-title{
  margin-top: 30px;
  /*margin-left: 50px;*/
  font-size: 20px;
  margin-bottom: 30px;
}
.test-btn{
  opacity: 0.99;
    transition: 0.3s ease all;
    background: #F4F4F4;
    border: 1px solid #D7D7D7;
    border-bottom-width: 5px;
    font-size: 16px;
    float: left;
    padding: 15px 25px;
    text-align: left;
}
.test-btn:hover{
  border: 1px solid #007bff;
  border-bottom-width: 5px;
}
.test-img{
  width: 100%;
}








@media (min-width: 992px) {
  .sidenav {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: calc(100vh);
    background: #343a40;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }

  .navbar-expand-lg .sidenav {
    flex-direction: column;
    text-align: center;
  }

  .content-wrapper {
    margin-left: 120px;
    margin-bottom: 100px;
    width: 80%;
  }
  .fixed-top{
    padding: 0px;
  }
  .nav-img{
    width: 28px;
  }
  .nav-img-photo{
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  .nav-title{
    color: white;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .test-li{
    margin-bottom: 20px;
  }
  .video{
    width: 60%;
    height: 60%;
  }
  .rating-center{
    margin-left: calc(50% - 142px);
  }
  .rating-block{
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
  }
  .footer{
      margin-right: 50px;
  }
  .user-photo{
      width: 250px;
      height: 250px;
      border-radius: 200px; /* Радиус скругления */
      box-shadow: 0 0 2px #333;
  }
  .video-block{
      height: 200px;
      margin: 10px;
  }
  .achiv-img{
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 992px) {
  .container-fluid{
    padding-top: 80px;
  }
  .nav-img{
    width: 25px;
  }
  .nav-link{
    text-align: center;
  }
  .nav-img-photo{
    width: 40px; 
  }
}